basePath: /
definitions:
  chat-service_internal_biz.Chat:
    properties:
      id:
        type: integer
      message:
        items:
          $ref: '#/definitions/chat-service_internal_biz.Message'
        type: array
      receiverID:
        type: string
      userID:
        type: string
    type: object
  chat-service_internal_biz.Message:
    properties:
      chatID:
        type: integer
      id:
        type: integer
      message:
        type: string
      senderID:
        type: string
      senderName:
        type: string
      sentAt:
        type: string
    type: object
  internal_route.ChatsDTO:
    properties:
      chats:
        items:
          $ref: '#/definitions/chat-service_internal_biz.Chat'
        type: array
    type: object
  internal_route.CreateChatDTO:
    properties:
      receiver_id:
        type: string
      user_id:
        type: string
    type: object
  internal_route.MessageCreateDTO:
    properties:
      message:
        type: string
    type: object
  internal_route.MessageDTO:
    properties:
      messages:
        items:
          $ref: '#/definitions/chat-service_internal_biz.Message'
        type: array
    type: object
host: chats.e-bus.site
info:
  contact:
    email: suro@hyneo.ru
    name: Suro
    url: https://t.me/suronek
  description: This is documentation api for backend
  title: Chat Service Swagger API
  version: "1.0"
paths:
  /chats/:
    get:
      consumes:
      - application/json
      parameters:
      - description: Chat ID
        format: uint64
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/internal_route.ChatsDTO'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get chats
      tags:
      - chat
    post:
      consumes:
      - application/json
      parameters:
      - description: dto
        in: body
        name: dto
        required: true
        schema:
          $ref: '#/definitions/internal_route.CreateChatDTO'
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Create chat
      tags:
      - chat
  /chats/{id}/:
    post:
      consumes:
      - application/json
      parameters:
      - description: Chat ID
        format: uint64
        in: path
        name: id
        required: true
        type: integer
      - description: dto
        in: body
        name: dto
        required: true
        schema:
          $ref: '#/definitions/internal_route.MessageCreateDTO'
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Create message
      tags:
      - chat
  /chats/{id}/history:
    get:
      consumes:
      - application/json
      parameters:
      - description: Chat ID
        format: uint64
        in: path
        name: id
        required: true
        type: integer
      - description: offset
        format: uint64
        in: query
        name: page
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/internal_route.MessageDTO'
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get chat history
      tags:
      - chat
securityDefinitions:
  authorization:
    in: header
    name: authorization
    type: apiKey
swagger: "2.0"
